.purchases {
  display: grid;
  grid-template-columns: 6em 1fr 3em 3em;
  gap: 1em;
  align-items: center;
  width: 100%;
  max-width: 25em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.purchases__img {
  width: 40px;
}
