.input__search-container {
  display: flex;
  justify-content: center;
  margin: 8em 5em 3em 10em;
}
.input__search-products {
  border: 1px solid #ccca;
  width: 25em;
}
.input__search-products:focus {
  outline: none;
}
.input__search-products::placeholder {
  opacity: 0.7;
}
.search__input-btn {
  padding: 0;
}
.btn__search-p {
  font-size: 1.8em;
  background-color: #f85555;
  color: #fff;
  padding: 0.2em 0.9em;
  border-radius: 0 0.2em 0.2em 0;
}
.btn__search-p:hover {
  filter: brightness(1.2);
}
.home__filter-category {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-areas: "aside main";
}
.child-1 {
  grid-area: aside;
}
.child-2 {
  grid-area: main;
}

.filter__section {
  position: fixed;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: 400px;
  bottom: 5em;
}
.home__products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5em;
  padding: 2em 0;
  padding-right: 0;
  margin-left: 6em;
}
